In [1]:
import pandas as pd
df=pd.read_csv('page99b.csv')

In [2]:
df

    Unnamed: 0     T    N    M  Unnamed: 4    T.1    N.1  M.1
0       Occult    TX   N0   M0  Stage IIIB    T1a     N3   M0
1    Carcinoma   NaN  NaN  NaN         NaN    T1b     N3   M0
2      Stage 0   Tis   N0   M0         NaN    T1c     N3   M0
3    Stage IA1  T1mi   N0   M0         NaN    T2a     N3   M0
4          NaN   T1a   N0   M0         NaN    T2b     N3   M0
5    Stage IA2   T1b   N0   M0         NaN     T3     N2   M0
6    Stage IA3   T1c   N0   M0         NaN     T4     N2   M0
7     Stage IB   T2a   N0   M0  Stage IIIC     T3     N3   M0
8    Stage IIA   T2b   N0   M0         NaN     T4     N3   M0
9    Stage IIB   T1a   N1   M0   Stage IVA  Any T  Any N  M1a
10         NaN   T1b   N1   M0         NaN  Any T  Any N  M1b
11         NaN   T1c   N1   M0   Stage IVB  Any T  Any N  M1c
12         NaN   T2a   N1   M0         NaN    NaN    NaN  NaN
13         NaN   T2b   N1   M0         NaN    NaN    NaN  NaN
14         NaN    T3   N0   M0         NaN    NaN    NaN  NaN
15  Stage IIIA   T1a   N2   M0         NaN    NaN    NaN  NaN
16         NaN   T1b   N2   M0         NaN    NaN    NaN  NaN
17         NaN   T1c   N2   M0         NaN    NaN    NaN  NaN
18         NaN   T2a   N2   M0         NaN    NaN    NaN  NaN
19         NaN   T2b   N2   M0         NaN    NaN    NaN  NaN
20         NaN    T3   N1   M0         NaN    NaN    NaN  NaN
21         NaN    T4   N0   M0         NaN    NaN    NaN  NaN
22         NaN    T4   N1   M0         NaN    NaN    NaN  NaN

In [3]:
df.fillna('', inplace=True)

In [4]:
df

    Unnamed: 0     T   N   M  Unnamed: 4    T.1    N.1  M.1
0       Occult    TX  N0  M0  Stage IIIB    T1a     N3   M0
1    Carcinoma                              T1b     N3   M0
2      Stage 0   Tis  N0  M0                T1c     N3   M0
3    Stage IA1  T1mi  N0  M0                T2a     N3   M0
4                T1a  N0  M0                T2b     N3   M0
5    Stage IA2   T1b  N0  M0                 T3     N2   M0
6    Stage IA3   T1c  N0  M0                 T4     N2   M0
7     Stage IB   T2a  N0  M0  Stage IIIC     T3     N3   M0
8    Stage IIA   T2b  N0  M0                 T4     N3   M0
9    Stage IIB   T1a  N1  M0   Stage IVA  Any T  Any N  M1a
10               T1b  N1  M0              Any T  Any N  M1b
11               T1c  N1  M0   Stage IVB  Any T  Any N  M1c
12               T2a  N1  M0
13               T2b  N1  M0
14                T3  N0  M0
15  Stage IIIA   T1a  N2  M0
16               T1b  N2  M0
17               T1c  N2  M0
18               T2a  N2  M0
19               T2b  N2  M0
20                T3  N1  M0
21                T4  N0  M0
22                T4  N1  M0

In [5]:
X=df.iloc[:23,:4]

In [6]:
X

    Unnamed: 0     T   N   M
0       Occult    TX  N0  M0
1    Carcinoma
2      Stage 0   Tis  N0  M0
3    Stage IA1  T1mi  N0  M0
4                T1a  N0  M0
5    Stage IA2   T1b  N0  M0
6    Stage IA3   T1c  N0  M0
7     Stage IB   T2a  N0  M0
8    Stage IIA   T2b  N0  M0
9    Stage IIB   T1a  N1  M0
10               T1b  N1  M0
11               T1c  N1  M0
12               T2a  N1  M0
13               T2b  N1  M0
14                T3  N0  M0
15  Stage IIIA   T1a  N2  M0
16               T1b  N2  M0
17               T1c  N2  M0
18               T2a  N2  M0
19               T2b  N2  M0
20                T3  N1  M0
21                T4  N0  M0
22                T4  N1  M0

In [7]:
Y=df.iloc[:23,4:]

In [8]:
Y

    Unnamed: 4    T.1    N.1  M.1
0   Stage IIIB    T1a     N3   M0
1                 T1b     N3   M0
2                 T1c     N3   M0
3                 T2a     N3   M0
4                 T2b     N3   M0
5                  T3     N2   M0
6                  T4     N2   M0
7   Stage IIIC     T3     N3   M0
8                  T4     N3   M0
9    Stage IVA  Any T  Any N  M1a
10              Any T  Any N  M1b
11   Stage IVB  Any T  Any N  M1c
12
13
14
15
16
17
18
19
20
21
22

In [9]:
Y=Y.iloc[:12]

In [10]:
Y

    Unnamed: 4    T.1    N.1  M.1
0   Stage IIIB    T1a     N3   M0
1                 T1b     N3   M0
2                 T1c     N3   M0
3                 T2a     N3   M0
4                 T2b     N3   M0
5                  T3     N2   M0
6                  T4     N2   M0
7   Stage IIIC     T3     N3   M0
8                  T4     N3   M0
9    Stage IVA  Any T  Any N  M1a
10              Any T  Any N  M1b
11   Stage IVB  Any T  Any N  M1c

In [11]:
Y.shape[0]

12

In [12]:
Y.loc[0]

Unnamed: 4    Stage IIIB
T.1                  T1a
N.1                   N3
M.1                   M0
Name: 0, dtype: object

In [13]:
Y.loc[0].iat[0]

'Stage IIIB'

In [14]:
dict = {'Unnamed: 4': 'stage','T.1': 'T','N.1': 'N','M.1':'M'}
Y.rename(columns=dict,inplace=True);

C:\Users\Sneha Sree\AppData\Local\Temp\ipykernel_13636\2489988869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y.rename(columns=dict,inplace=True);

In [15]:
Y

         stage      T      N    M
0   Stage IIIB    T1a     N3   M0
1                 T1b     N3   M0
2                 T1c     N3   M0
3                 T2a     N3   M0
4                 T2b     N3   M0
5                  T3     N2   M0
6                  T4     N2   M0
7   Stage IIIC     T3     N3   M0
8                  T4     N3   M0
9    Stage IVA  Any T  Any N  M1a
10              Any T  Any N  M1b
11   Stage IVB  Any T  Any N  M1c

In [16]:
Y['stage']

0     Stage IIIB
1
2
3
4
5
6
7     Stage IIIC
8
9      Stage IVA
10
11     Stage IVB
Name: stage, dtype: object

In [17]:
temp=Y.loc[0].at["stage"]
for i in range(Y.shape[0]):
    if(Y.loc[i].at["stage"]!=''):
        prev_key= Y.loc[i].at["stage"] 
    key=Y.loc[i].at["stage"]
    if(key==''):
        Y.loc[i].at["stage"]=prev_key
    else:
        Y.loc[i].at["stage"]=key

In [18]:
Y

         stage      T      N    M
0   Stage IIIB    T1a     N3   M0
1   Stage IIIB    T1b     N3   M0
2   Stage IIIB    T1c     N3   M0
3   Stage IIIB    T2a     N3   M0
4   Stage IIIB    T2b     N3   M0
5   Stage IIIB     T3     N2   M0
6   Stage IIIB     T4     N2   M0
7   Stage IIIC     T3     N3   M0
8   Stage IIIC     T4     N3   M0
9    Stage IVA  Any T  Any N  M1a
10   Stage IVA  Any T  Any N  M1b
11   Stage IVB  Any T  Any N  M1c

In [19]:
dict = {'Unnamed: 0': 'stage','T': 'T','N': 'N','M':'M'};
X.rename(columns=dict,inplace=True);

In [20]:
X

         stage     T   N   M
0       Occult    TX  N0  M0
1    Carcinoma
2      Stage 0   Tis  N0  M0
3    Stage IA1  T1mi  N0  M0
4                T1a  N0  M0
5    Stage IA2   T1b  N0  M0
6    Stage IA3   T1c  N0  M0
7     Stage IB   T2a  N0  M0
8    Stage IIA   T2b  N0  M0
9    Stage IIB   T1a  N1  M0
10               T1b  N1  M0
11               T1c  N1  M0
12               T2a  N1  M0
13               T2b  N1  M0
14                T3  N0  M0
15  Stage IIIA   T1a  N2  M0
16               T1b  N2  M0
17               T1c  N2  M0
18               T2a  N2  M0
19               T2b  N2  M0
20                T3  N1  M0
21                T4  N0  M0
22                T4  N1  M0

In [21]:
temp=X.loc[0].at["stage"]
for i in range(X.shape[0]):
    if(X.loc[i].at["stage"]!=''):
        prev_key= X.loc[i].at["stage"] 
        if(X.loc[i+1].at["stage"]!=''and X.loc[i+1].at["T"]==''):
            X.loc[i].at["stage"]= X.loc[i].at["stage"] + ' ' + X.loc[i+1].at["stage"]
    key=X.loc[i].at["stage"]
    if(key==''):
        X.loc[i].at["stage"]=prev_key
    else:
        X.loc[i].at["stage"]=key

In [22]:
X

               stage     T   N   M
0   Occult Carcinoma    TX  N0  M0
1          Carcinoma
2            Stage 0   Tis  N0  M0
3          Stage IA1  T1mi  N0  M0
4          Stage IA1   T1a  N0  M0
5          Stage IA2   T1b  N0  M0
6          Stage IA3   T1c  N0  M0
7           Stage IB   T2a  N0  M0
8          Stage IIA   T2b  N0  M0
9          Stage IIB   T1a  N1  M0
10         Stage IIB   T1b  N1  M0
11         Stage IIB   T1c  N1  M0
12         Stage IIB   T2a  N1  M0
13         Stage IIB   T2b  N1  M0
14         Stage IIB    T3  N0  M0
15        Stage IIIA   T1a  N2  M0
16        Stage IIIA   T1b  N2  M0
17        Stage IIIA   T1c  N2  M0
18        Stage IIIA   T2a  N2  M0
19        Stage IIIA   T2b  N2  M0
20        Stage IIIA    T3  N1  M0
21        Stage IIIA    T4  N0  M0
22        Stage IIIA    T4  N1  M0

In [23]:
import numpy as np
X_new1= X.copy()                               # Create duplicate of data
X_new1 = X_new1.replace(r'^s*$', float('NaN'), regex = True)  # Replace blanks by NaN
print(X_new1)

               stage     T    N    M
0   Occult Carcinoma    TX   N0   M0
1          Carcinoma   NaN  NaN  NaN
2            Stage 0   Tis   N0   M0
3          Stage IA1  T1mi   N0   M0
4          Stage IA1   T1a   N0   M0
5          Stage IA2   T1b   N0   M0
6          Stage IA3   T1c   N0   M0
7           Stage IB   T2a   N0   M0
8          Stage IIA   T2b   N0   M0
9          Stage IIB   T1a   N1   M0
10         Stage IIB   T1b   N1   M0
11         Stage IIB   T1c   N1   M0
12         Stage IIB   T2a   N1   M0
13         Stage IIB   T2b   N1   M0
14         Stage IIB    T3   N0   M0
15        Stage IIIA   T1a   N2   M0
16        Stage IIIA   T1b   N2   M0
17        Stage IIIA   T1c   N2   M0
18        Stage IIIA   T2a   N2   M0
19        Stage IIIA   T2b   N2   M0
20        Stage IIIA    T3   N1   M0
21        Stage IIIA    T4   N0   M0
22        Stage IIIA    T4   N1   M0

In [24]:
X_new2 = X_new1.copy()                          # Create duplicate of data
X_new2.dropna(inplace = True)                      # Remove rows with NaN
print(X_new2)

               stage     T   N   M
0   Occult Carcinoma    TX  N0  M0
2            Stage 0   Tis  N0  M0
3          Stage IA1  T1mi  N0  M0
4          Stage IA1   T1a  N0  M0
5          Stage IA2   T1b  N0  M0
6          Stage IA3   T1c  N0  M0
7           Stage IB   T2a  N0  M0
8          Stage IIA   T2b  N0  M0
9          Stage IIB   T1a  N1  M0
10         Stage IIB   T1b  N1  M0
11         Stage IIB   T1c  N1  M0
12         Stage IIB   T2a  N1  M0
13         Stage IIB   T2b  N1  M0
14         Stage IIB    T3  N0  M0
15        Stage IIIA   T1a  N2  M0
16        Stage IIIA   T1b  N2  M0
17        Stage IIIA   T1c  N2  M0
18        Stage IIIA   T2a  N2  M0
19        Stage IIIA   T2b  N2  M0
20        Stage IIIA    T3  N1  M0
21        Stage IIIA    T4  N0  M0
22        Stage IIIA    T4  N1  M0

In [25]:
df_concat = pd.concat([X_new2, Y],ignore_index=True)
df_concat

               stage      T      N    M
0   Occult Carcinoma     TX     N0   M0
1            Stage 0    Tis     N0   M0
2          Stage IA1   T1mi     N0   M0
3          Stage IA1    T1a     N0   M0
4          Stage IA2    T1b     N0   M0
5          Stage IA3    T1c     N0   M0
6           Stage IB    T2a     N0   M0
7          Stage IIA    T2b     N0   M0
8          Stage IIB    T1a     N1   M0
9          Stage IIB    T1b     N1   M0
10         Stage IIB    T1c     N1   M0
11         Stage IIB    T2a     N1   M0
12         Stage IIB    T2b     N1   M0
13         Stage IIB     T3     N0   M0
14        Stage IIIA    T1a     N2   M0
15        Stage IIIA    T1b     N2   M0
16        Stage IIIA    T1c     N2   M0
17        Stage IIIA    T2a     N2   M0
18        Stage IIIA    T2b     N2   M0
19        Stage IIIA     T3     N1   M0
20        Stage IIIA     T4     N0   M0
21        Stage IIIA     T4     N1   M0
22        Stage IIIB    T1a     N3   M0
23        Stage IIIB    T1b     N3   M0
24        Stage IIIB    T1c     N3   M0
25        Stage IIIB    T2a     N3   M0
26        Stage IIIB    T2b     N3   M0
27        Stage IIIB     T3     N2   M0
28        Stage IIIB     T4     N2   M0
29        Stage IIIC     T3     N3   M0
30        Stage IIIC     T4     N3   M0
31         Stage IVA  Any T  Any N  M1a
32         Stage IVA  Any T  Any N  M1b
33         Stage IVB  Any T  Any N  M1c

In [26]:
df_concat=df_concat.to_dict(orient="index");

In [27]:
print(df_concat)

{0: {'stage': 'Occult Carcinoma', 'T': 'TX', 'N': 'N0', 'M': 'M0'}, 1: {'stage': 'Stage 0', 'T': 'Tis', 'N': 'N0', 'M': 'M0'}, 2: {'stage': 'Stage IA1', 'T': 'T1mi', 'N': 'N0', 'M': 'M0'}, 3: {'stage': 'Stage IA1', 'T': 'T1a', 'N': 'N0', 'M': 'M0'}, 4: {'stage': 'Stage IA2', 'T': 'T1b', 'N': 'N0', 'M': 'M0'}, 5: {'stage': 'Stage IA3', 'T': 'T1c', 'N': 'N0', 'M': 'M0'}, 6: {'stage': 'Stage IB', 'T': 'T2a', 'N': 'N0', 'M': 'M0'}, 7: {'stage': 'Stage IIA', 'T': 'T2b', 'N': 'N0', 'M': 'M0'}, 8: {'stage': 'Stage IIB', 'T': 'T1a', 'N': 'N1', 'M': 'M0'}, 9: {'stage': 'Stage IIB', 'T': 'T1b', 'N': 'N1', 'M': 'M0'}, 10: {'stage': 'Stage IIB', 'T': 'T1c', 'N': 'N1', 'M': 'M0'}, 11: {'stage': 'Stage IIB', 'T': 'T2a', 'N': 'N1', 'M': 'M0'}, 12: {'stage': 'Stage IIB', 'T': 'T2b', 'N': 'N1', 'M': 'M0'}, 13: {'stage': 'Stage IIB', 'T': 'T3', 'N': 'N0', 'M': 'M0'}, 14: {'stage': 'Stage IIIA', 'T': 'T1a', 'N': 'N2', 'M': 'M0'}, 15: {'stage': 'Stage IIIA', 'T': 'T1b', 'N': 'N2', 'M': 'M0'}, 16: {'stage': 'Stage IIIA', 'T': 'T1c', 'N': 'N2', 'M': 'M0'}, 17: {'stage': 'Stage IIIA', 'T': 'T2a', 'N': 'N2', 'M': 'M0'}, 18: {'stage': 'Stage IIIA', 'T': 'T2b', 'N': 'N2', 'M': 'M0'}, 19: {'stage': 'Stage IIIA', 'T': 'T3', 'N': 'N1', 'M': 'M0'}, 20: {'stage': 'Stage IIIA', 'T': 'T4', 'N': 'N0', 'M': 'M0'}, 21: {'stage': 'Stage IIIA', 'T': 'T4', 'N': 'N1', 'M': 'M0'}, 22: {'stage': 'Stage IIIB', 'T': 'T1a', 'N': 'N3', 'M': 'M0'}, 23: {'stage': 'Stage IIIB', 'T': 'T1b', 'N': 'N3', 'M': 'M0'}, 24: {'stage': 'Stage IIIB', 'T': 'T1c', 'N': 'N3', 'M': 'M0'}, 25: {'stage': 'Stage IIIB', 'T': 'T2a', 'N': 'N3', 'M': 'M0'}, 26: {'stage': 'Stage IIIB', 'T': 'T2b', 'N': 'N3', 'M': 'M0'}, 27: {'stage': 'Stage IIIB', 'T': 'T3', 'N': 'N2', 'M': 'M0'}, 28: {'stage': 'Stage IIIB', 'T': 'T4', 'N': 'N2', 'M': 'M0'}, 29: {'stage': 'Stage IIIC', 'T': 'T3', 'N': 'N3', 'M': 'M0'}, 30: {'stage': 'Stage IIIC', 'T': 'T4', 'N': 'N3', 'M': 'M0'}, 31: {'stage': 'Stage IVA', 'T': 'Any T', 'N': 'Any N', 'M': 'M1a'}, 32: {'stage': 'Stage IVA', 'T': 'Any T', 'N': 'Any N', 'M': 'M1b'}, 33: {'stage': 'Stage IVB', 'T': 'Any T', 'N': 'Any N', 'M': 'M1c'}}

In [29]:
import json
json_object = json.dumps(df_concat,indent=4) 
print(json_object)

{
    "0": {
        "stage": "Occult Carcinoma",
        "T": "TX",
        "N": "N0",
        "M": "M0"
    },
    "1": {
        "stage": "Stage 0",
        "T": "Tis",
        "N": "N0",
        "M": "M0"
    },
    "2": {
        "stage": "Stage IA1",
        "T": "T1mi",
        "N": "N0",
        "M": "M0"
    },
    "3": {
        "stage": "Stage IA1",
        "T": "T1a",
        "N": "N0",
        "M": "M0"
    },
    "4": {
        "stage": "Stage IA2",
        "T": "T1b",
        "N": "N0",
        "M": "M0"
    },
    "5": {
        "stage": "Stage IA3",
        "T": "T1c",
        "N": "N0",
        "M": "M0"
    },
    "6": {
        "stage": "Stage IB",
        "T": "T2a",
        "N": "N0",
        "M": "M0"
    },
    "7": {
        "stage": "Stage IIA",
        "T": "T2b",
        "N": "N0",
        "M": "M0"
    },
    "8": {
        "stage": "Stage IIB",
        "T": "T1a",
        "N": "N1",
        "M": "M0"
    },
    "9": {
        "stage": "Stage IIB",
        "T": "T1b",
        "N": "N1",
        "M": "M0"
    },
    "10": {
        "stage": "Stage IIB",
        "T": "T1c",
        "N": "N1",
        "M": "M0"
    },
    "11": {
        "stage": "Stage IIB",
        "T": "T2a",
        "N": "N1",
        "M": "M0"
    },
    "12": {
        "stage": "Stage IIB",
        "T": "T2b",
        "N": "N1",
        "M": "M0"
    },
    "13": {
        "stage": "Stage IIB",
        "T": "T3",
        "N": "N0",
        "M": "M0"
    },
    "14": {
        "stage": "Stage IIIA",
        "T": "T1a",
        "N": "N2",
        "M": "M0"
    },
    "15": {
        "stage": "Stage IIIA",
        "T": "T1b",
        "N": "N2",
        "M": "M0"
    },
    "16": {
        "stage": "Stage IIIA",
        "T": "T1c",
        "N": "N2",
        "M": "M0"
    },
    "17": {
        "stage": "Stage IIIA",
        "T": "T2a",
        "N": "N2",
        "M": "M0"
    },
    "18": {
        "stage": "Stage IIIA",
        "T": "T2b",
        "N": "N2",
        "M": "M0"
    },
    "19": {
        "stage": "Stage IIIA",
        "T": "T3",
        "N": "N1",
        "M": "M0"
    },
    "20": {
        "stage": "Stage IIIA",
        "T": "T4",
        "N": "N0",
        "M": "M0"
    },
    "21": {
        "stage": "Stage IIIA",
        "T": "T4",
        "N": "N1",
        "M": "M0"
    },
    "22": {
        "stage": "Stage IIIB",
        "T": "T1a",
        "N": "N3",
        "M": "M0"
    },
    "23": {
        "stage": "Stage IIIB",
        "T": "T1b",
        "N": "N3",
        "M": "M0"
    },
    "24": {
        "stage": "Stage IIIB",
        "T": "T1c",
        "N": "N3",
        "M": "M0"
    },
    "25": {
        "stage": "Stage IIIB",
        "T": "T2a",
        "N": "N3",
        "M": "M0"
    },
    "26": {
        "stage": "Stage IIIB",
        "T": "T2b",
        "N": "N3",
        "M": "M0"
    },
    "27": {
        "stage": "Stage IIIB",
        "T": "T3",
        "N": "N2",
        "M": "M0"
    },
    "28": {
        "stage": "Stage IIIB",
        "T": "T4",
        "N": "N2",
        "M": "M0"
    },
    "29": {
        "stage": "Stage IIIC",
        "T": "T3",
        "N": "N3",
        "M": "M0"
    },
    "30": {
        "stage": "Stage IIIC",
        "T": "T4",
        "N": "N3",
        "M": "M0"
    },
    "31": {
        "stage": "Stage IVA",
        "T": "Any T",
        "N": "Any N",
        "M": "M1a"
    },
    "32": {
        "stage": "Stage IVA",
        "T": "Any T",
        "N": "Any N",
        "M": "M1b"
    },
    "33": {
        "stage": "Stage IVB",
        "T": "Any T",
        "N": "Any N",
        "M": "M1c"
    }
}

In [30]:
jsonFile = open("page99b.json", "w")
jsonFile.write(json_object)
jsonFile.close()